@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* Estilos gerais para o contêiner de usuários */
.container {
    max-width: 800px;
    margin: 20px auto; /* Adiciona margem superior e inferior */
    padding: 20px;
    background-color: var(--sidebar-color); /* Usando a cor da sidebar */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para o botão */
button {
    background: var(--toggle-color); /* Usando a cor primária */
    padding: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 16px;
}

button:hover {
    background-color: var(--primary-color); /* Pode ser ajustado para uma cor da paleta */
}

/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: var(--primary-color-light); /* Usando a cor primária clara */
}

/* Estilos para o modal */
#userModal {
    position: fixed;
    inset: 0;
    display: none; /* Oculto por padrão */
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#userModal .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Definindo um tamanho máximo */
    width: 100%; /* Largura total até o máximo */
    box-sizing: border-box; /* Para incluir padding e border no cálculo da largura */
    margin: auto; /* Centraliza o modal */
}

.modal-content h3 {
    margin-bottom: 16px;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}